body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; 
    gap: 60px;
}

.select-group {
    display: flex;
    align-items: center;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background: #fff;
}

img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
}

.arrow {
    font-size: 20px;
    color: #333;
}

.result {
    margin-bottom: 15px; 
    font-size: 18px;
    color: #333;
}

button {
    width: 300px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    align-self: center;
}

button:hover {
    background-color: #555;
}